.owl-dots {
    margin-top: 15px;
    display: flex;
    justify-content: center;
} 
.owl-dot.active:hover {
    opacity: 1;
}
.owl-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #24a3ff !important;
    opacity: 0.2;
    margin-right: 14px;
}  
.owl-dot:last-child {
    margin-right: 0;
} 
.owl-dot.active {
    background-color: #24a3ff;
    opacity: 1;
}
.owl-dot:hover {
    opacity: 0.6;
}