.link{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
}
.header-text{
    font-size: 32px;
    line-height: 38px;
}
.container {
    background: linear-gradient(
    45.01deg, #7a425e 3%, #323264 32.33%, #323264 75.39%, #7a425e 99.53%);
    background-repeat: no-repeat;
    border-radius: 0px 0px 12px 12px;
    padding: 0;
}
.splash{
    margin-top: 81px;
    overflow-x: hidden;
    background-image: url("../img/logomainhomepage.svg");
    background-repeat: no-repeat;
    background-position:top;
}
.splash-header{
    max-width: 413px;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: var(--clr-txt-white);
    margin: 0 auto;
    padding: 38px 0 0 0;
}
.shade{
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    margin: 65px 0 0px 0;
    text-align: center;
}
.scrolldown{
    padding: 138px 0 20px 0; 
}
.experience,.services{
    padding: 20px;
}
.experience-wraper{
    padding: 0;
}
.experience-h3{
    max-width: 106px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    color: var(--clr-txt-grey);
}
.display{
    display: none;
}
.experience-header{
    font-size: 22px;
    line-height: 26px;
    color: var(--clr-txt-white);
    margin: 10px 0 15px 0;
}
.experience-description{
    font-size: 18px;
    line-height: 26px;
    color: var(--clr-txt-white);
    margin: 15px 20px 20px 0;
}
.circle{
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background: var(--clr-regular);
    margin-right: 11px;
}
.circle-opacity{
    opacity: 0.2;
}
.services{
    padding-top: 45px;
}
.services-a{
    color: var(--clr-txt-white);
    opacity: 0.5;
}
.services-h1{
    margin: 0 0 20px 0;
}
.container-sp{
   flex-wrap: wrap;
   justify-content: center;
}
.sp-description{
    align-items: center;
    margin-bottom: 10px;
}
.logo{
    margin-left: 1px;
    width: 64px;
    height: 64px;
    padding: 9.45px;
    background-image: url("../img/Rectanglem.png");
}
.sp-header{
    color: var(--clr-regular);
    margin: 0 0 0 10px;
    font-size: 18px;
    line-height: 21px;
}
.sp-paragraf{
    margin: 0 0 40px 0;
    font-size: 16px;
    line-height: 22px;
    color: var(--clr-txt-white);
}
.sp-margin{
    margin: 0 0 20px 0;
}
.wraper1{
    margin: 0 auto;
    padding: 5px 0;
    width: calc(100% - 40px);
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
}
.wraper2{
    margin:0 auto ;
    padding: 5px 0;
    width: calc(100% - 80px);
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}
.vdn-h2{
    text-align: center;
    padding: 30px 0;
    margin: auto;
    color: #323264;
}
.clients-logo{
    grid-template-columns: 50% 50%;
}
.clients-logo-img{
    width: 100%;
}
.publications{
    padding: 20px 20px 0 20px;
}
.publications-a{
    color: var(--clr-regular);
    margin-bottom: 5px;
}
.publications-h2{
    margin: 0 0 20px 0;
    max-width: 420px;
}
.publication-section{
    column-gap: var(--column-gap);
    columns: 1;
}
.publication-item{
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
    width: 100%;
}
.publication-a{
    font-size: 18px;
    line-height: 21px;
    color: var(--clr-regular);
}
.publication-p{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #B3B3BA;
    margin: 10px 0 20px 0;
}
.publication-image{
    display: block;
    width: calc(100% + 40px);
    margin: -20px -20px 20px -20px;
}
.publication-border-p{
    margin: 20px 0;
    border-top: 4px solid #E6E6F0;
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
}
.publication-border-p,.publication-dec,
.publication-milenial-mob{
    display: none;
}
.publication-shadow{
    padding: 40px 0;
}
.btn{
    margin: auto;
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    border: none;
    width: 250px; 
    text-align: center;
}
.btn-a{
    font-size: 14px;
    line-height: 50px;
    color: var(--clr-txt-white);
}
.footer{
    border-radius: 0;
}